<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/foto.jpg" alt="Minha Foto">
    <h3><strong>Gustavo Pontes da Silva</strong></h3>
    <p>Turma: ADS0302M</p>
    <p>Matricula: 23108202</p>
  </div>
</ion-content>